h1 {
    width: 200px;
    background-color:rgb(101, 165, 250);
    height: 1800px;
    float: left;
    margin-right: 30px;
    color:rgb(255, 255, 255);
    text-align:center;   
    padding:50px;
    font-size:50px;
    margin: 0 30px 0 0 ;
}
body {
    max-width: 10000px;
     margin: 0 ;
     font-size:32px;
     padding:30px;
  }
  
  .dz{
      font-size:40px;
  }